<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">File ID</th>
        <th scope="col">File Name</th>
        <th scope="col">File Type</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let filedb of filedbs">
        <td>{{ filedb.fileID }}</td>
        <td>{{ filedb.name }}</td>
        <td>{{ filedb.type }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
