<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Message/Validation</th>
        <th scope="col">Submission ID</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="contentvalidation">
        <td>{{ contentvalidation.ID }}</td>
        <td>{{ contentvalidation.message }}</td>
        <td>{{ contentvalidation.submissionID }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
